a {
    text-decoration: none !important;
}

.btn-body {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    color: #f8d9c8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    transition: 0.1s ease-in-out;
    background-color: #b6755000;


    &.active {
        background-color: #b67550;
        box-shadow: 0 0 1px 2px #b67550;
        transform: scale(1.05)
    }

    &:hover {
        color: #fff
    }
}


.btn-title {
    margin: 4px auto;
    font-weight: 600;
}